<section class="content">
	<div class="row" id="nova-conta" style="display: none;">
        <div class="col-md-12">
	      <div class="box box-primary">
	        <div class="box-header with-border">
	          <h3 class="box-title">Conta - (criar/editar)</h3>
	          <div class="box-tools pull-right">
	            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
	            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
	          </div>
	        </div>
	        <!-- /.box-header -->
	        <div class="box-body">
	          <form name="myForm" role="form">       	
	            <div class="row">	        	              		          
		          <div class="col-md-4">		      		     
		              <div class="box-body">		                    			            
			            <div class="form-group">
			                <label for="input-descricao">*Descrição</label>
			                <input name="inputDescricao" type="text" ng-model="conta.con_descricao" class="form-control" id="tipoContaDescricao" required placeholder="Informe a descrição do tipo">
			            </div>                    
			          </div>    
		          </div>
		          <div class="col-md-3">		      		     
		              <div class="box-body">		                    			            
			            <div class="form-group">
			                <label for="input-descricao">*Tipo Movimentação</label>			                
			                <select id="select-tipomov" ng-model="conta.con_tipomovimentacao" class="form-control select2" style="width: 100%;">
					                  <option ng-repeat="tipo in tiposMovimentacoes" value="{{tipo.codigo}}" ng-selected="tipo.codigo == conta.con_tipomovimentacao ">{{tipo.codigo}} - {{tipo.descricao}}</option>			                  
					        </select>
			            </div>                    
			          </div>    
		          </div>
		          <div class="col-md-3">		      		     
		              <div class="box-body">		                    		              	
			            <div class="form-group">
			            	<label for="input-descricao">Usuário</label>			                
					        
					        <div class="row">
			            		<div class="col-md-2">
					                <span class="input-group-btn">
					                    <button type="button" ng-click="limparUsuario()" class="btn btn-default btn-flat"><i class="fa fa-remove"></i></button>
					                </span>
					            </div>    
					            <div class="col-md-10">
					                <select id="select-tipoconta" ng-model="conta.usu_codigo" class="form-control select2" style="width: 100%;">
							                  <option ng-repeat="user in usuarios" value="{{user.usu_codigo}}" ng-selected="user.usu_codigo == conta.usu_codigo ">{{user.usu_codigo}} - {{user.usu_nome}}</option>				                 							    
							        </select>		
							    </div>    
					        </div>			        
			            </div>                    
			          </div>    
		          </div>
		          <div class="col-md-2">		      		     
		              <div class="box-body">
			            <div class="form-group">
			            	<label for="input-descricao">*Situação da Conta</label>
							<div class="checkbox">
		                       <label>
		                         <input ng-model="conta.con_ativa" type="checkbox"> Ativa
		                       </label>
		                     </div>
			            </div>                    
			          </div>    
		          </div>
		          <!-- /.col-->		           
		        </div>
		          <!-- /.row -->
	            <div class="row">	        	              		    
		          <div class="col-md-4">		      		     
		              <div class="box-body">		                    			            
			            <div class="form-group">
			                <label for="input-descricao">*Tipo Conta</label>
			                <div class="row">
			                	<div class="col-md-3">
				                	<input ng-change="validarTipoConta()" type="text" ng-model="conta.tco_codigo" class="form-control">
				                </div>
				                <div class="col-md-9">
					                <select id="select-tipoconta" ng-model="conta.tco_codigo" class="form-control select2" style="width: 100%;">
					                  <option ng-repeat="tpconta in tiposContas" value="{{tpconta.tco_codigo}}" ng-selected="limparCamposCtaBnk && tpconta.tco_codigo == conta.tco_codigo ">{{tpconta.tco_codigo}} - {{tpconta.tco_descricao}}</option>			                  
					                </select>
				                </div>
			                </div>
			            </div>              			                  
			          </div>    
		          </div>
		          <div class="col-md-8">		      		     
		              <div class="box-body">		                    			            
			            <div class="form-group">
			                <label for="input-descricao">Observação</label>
			                <textarea name="inputObservação" ng-model="conta.con_observacao" class="form-control"  required placeholder="Informe uma observação da conta" rows="4"></textarea>
			            </div>                    
			          </div>    
		          </div>		          
		        </div>		        
		        <div ng-if="conta.tco_codigo == 1" >		            
		            <div class="row">	        	              		          
			          <div class="box">
		                <div class="box-header with-border">
			               <h3 class="box-title">Dados Conta Bancária</h3>
			            </div>
			          </div>     
			          <div class="col-md-4">
			              <div class="box-body">		                    			            
				            <div class="form-group">
				                <label for="input-c">Banco</label>
				                <input name="inputConta" type="text" ng-model="conta.con_banco" class="form-control" placeholder="Informe qual é o Banco">
				            </div>                    
				          </div>    		          	
			          </div>			          
			          <div class="col-md-4">		      		     
			              <div class="box-body">		                    			            
				            <div class="form-group">
				                <label for="input-ag">Agência</label>
				                <input name="inputAg" type="text" ng-model="conta.con_agcontabancaria" class="form-control" placeholder="Informe a agência da conta">
				            </div>                    
				          </div>    
			          </div>
			          <div class="col-md-4">		      		     
			              <div class="box-body">		                    			            
				            <div class="form-group">
				                <label for="input-descricao">Nrº Conta</label>
				                <input name="inputnr" type="text" ng-model="conta.con_nrcontabancaria" class="form-control" placeholder="Informe o número da conta bancária">
				            </div>                    
				          </div>    
			          </div>			          
			          <!-- /.col-->		           
		            </div>
		            <!-- /.row -->			            
		        </div>    
		      </form> 
		    </div>			           
		        <!-- /.box-body -->	        
	        <div class="box-footer">
                <button ng-click="novaConta()" class="btn btn-default">Cancelar</button>
                <button ng-click="salvarConta()" class="btn btn-success pull-right">Salvar</button>                           
	        </div>
	      </div>
	      <!-- /.box -->
	   </div>
	</div>    
	<div class="row">    
	   <div class="col-md-12">
	   	   <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">Contas Cadastradas</h3>
              <div class="box-tools pull-right">
	            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
	            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
	          </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div>
		         <button ng-click="novaConta()" type="button" class="btn btn-primary btn-sm">Nova conta</button>	
              </div>        		         
              <table class="table table-bordered table-hover table-striped table-click">
                <thead>
                <tr>
                  <th>Código</th>
                  <th>Descrição</th>
                  <th>Movimentação</th>
                  <th>Usuário</th>
                  <th>Tipo</th>
                  <th>Nrº</th>
                  <th>Banco</th>
                  <th>Ativo</th>                 
                  <th>#</th>
                  <th>#</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in contas" ng-dblclick="listarLancamentos(x)">
                  <td>{{x.con_codigo}}</td>
                  <td>{{x.con_descricao}}</td>
                  <td>{{x.con_movimentacao}}</td>
                  <td>{{x.usu_nome}}</td>
                  <td>{{x.tco_descricao}}</td>
                  <td>{{x.con_nrcontabancaria}}</td>
                  <td>{{x.con_banco}}</td>
                  <td>{{x.con_ativa}}</td>
                  <td>
					<button ng-click="editarConta(x)" type="button" class="btn btn-primary btn-xs">
					    <span class="glyphicon glyphicon-edit"></span>
				    </button>
				  </td>
				  <td>
				    <button ng-click="excluirConta(x)" type="button" class="btn btn-danger btn-xs">
					    <span class="glyphicon glyphicon-trash"></span>
				    </button>                  	                  	
				  </td>  
                </tr>
                </tbody>
              </table>
             </div>
         </div>
	   </div>
    </div>	     
</section> 

<!--MODALS-->

<button id="openModalLancamentos" hidden="true" data-toggle="modal" data-target="#ModalLancamentos">Open Modal</button>

<div class="modal fade" id="ModalLancamentos">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Lançamentos</h4>          
      </div>
      <div class="modal-body box box-primary">     
         <div class="row">
         	<div class="col-md-4">
         	  <!--<h2>{{lancamentos.dados[0].con_descricao}}</h2> -->
         	  <h2>{{contaLancamento.con_descricao}}</h2>
            </div>        
         	<div class="col-md-4">
              <h5 >Debitos = R$ {{lancamentos.totaldebito}}</h5>
              <h5 >Créditos = R$ {{lancamentos.totalcredito}}</h5>	
              <h5 ><strong>Saldo Total = R$ {{lancamentos.total}}</strong></h5>	
         	</div>         	
         	<div class="col-md-4">
           	  <!-- Date range -->
              <div class="form-group">
                <label>Período:</label>
                <div class="row">
                  	<div class="col-md-10">
		                <div class="input-group">
		                   <div class="input-group-addon">
		                      <i class="fa fa-calendar"></i>
		                   </div>
		                   <input type="text" class="form-control pull-right" id="reservation">                  
		                </div>
					</div>
					<div class="col-md-2">
				        <button class="btn btn-primary pull-right" ng-click="atualizarLancamento()"><i class="fa fa-search"></i></button>
					</div>
	            </div>   
                <!-- /.input group -->
              </div>
            </div>         	
         </div> 
         <hr>
         <table class="table table-bordered table-hover table-striped">
           <thead>
           <tr>
             <th>Código</th>
             <th>Conta</th>
             <th>Obs</th>             
             <th>Tipo</th>
             <th>Valor</th>
             <th>Quitação</th>
             <th>Usuário</th>                          
           </tr>
           </thead>
           <tbody>
           <tr ng-repeat="x in lancamentos.dados">
             <td>{{x.lan_codigo}}</td>
             <td>{{x.con_descricao}}</td>
             <td>{{x.lan_observacao}}</td>             
             <td>{{x.movimento}}</td>
             <td>{{x.lan_valor}}</td>
             <td>{{x.lan_dataquitacao}}</td>
             <td>{{x.usu_codigo}} - {{x.usu_nome}}</td>
           </tr>
           </tbody>
         </table>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script>
$(function () {
    
  $('#reservation').daterangepicker({
    locale: {
      format: 'DD/MM/YYYY'
    }
  })

  $('#datepicker').datepicker({
      autoclose: true
  })
})
</script>