<section class="content">
	<div class="row" id="nova-conta" style="display: none;">
        <div class="col-md-12">
	      <div class="box box-primary">
	        <div class="box-header with-border">
	          <h3 class="box-title">Conta</h3>
	          <div class="box-tools pull-right">
	            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
	            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
	          </div>
	        </div>
	        <!-- /.box-header -->
	        <div class="box-body">
	            <form name="myForm" role="form">       	
	            <div class="row">	        	              		          
		          <div class="col-md-4">		      		     
		              <div class="box-body">		                    			            
			            <div class="form-group">
			                <label for="input-descricao">Descrição</label>
			                <input name="inputDescricao" type="text" ng-model="conta.con_descricao" class="form-control" id="tipoContaDescricao" required placeholder="Informe a descrição do tipo">
			            </div>                    
			          </div>    
		          </div>
		          <div class="col-md-4">		      		     
		              <div class="box-body">		                    			            
			            <div class="form-group">
			                <label for="input-descricao">Descrição</label>
			                <input name="inputDescricao" type="text" ng-model="conta.con_descricao" class="form-control" id="tipoContaDescricao" required placeholder="Informe a descrição do tipo">
			            </div>                    
			          </div>    
		          </div>
		          <div class="col-md-4">		      		     
		              <div class="box-body">		                    			            
			            <div class="form-group">
			                <label for="input-descricao">Descrição</label>
			                <input name="inputDescricao" type="text" ng-model="conta.con_descricao" class="form-control" id="tipoContaDescricao" required placeholder="Informe a descrição do tipo">
			            </div>                    
			          </div>    
		          </div>
		          <!-- /.col-->		           
		        </div>
		          <!-- /.row -->
		      </form> 
		    </div>			           
		        <!-- /.box-body -->	        
	        <div class="box-footer">
                <button ng-click="novaConta()" class="btn btn-default">Cancelar</button>
                <button ng-click="salvarConta()" class="btn btn-success pull-right">Salvar</button>                           
	        </div>
	      </div>
	      <!-- /.box -->
	   </div>
	</div>    
	<div class="row">    
	   <div class="col-md-12">
	   	   <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">Contas Cadastradas</h3>
              <div class="box-tools pull-right">
	            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
	            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
	          </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div>
		         <button ng-click="novaConta()" type="button" class="btn btn-primary btn-sm">Nova conta</button>	
              </div>        		         
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Código</th>
                  <th>Descrição</th>
                  <th>Movimentação</th>
                  <th>Usuário</th>
                  <th>Tipo</th>
                  <th>Nrº</th>
                  <th>Banco</th>
                  <th>Ativo</th>                 
                  <th>#</th>
                  <th>#</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in contas">
                  <td>{{x.con_codigo}}</td>
                  <td>{{x.con_descricao}}</td>
                  <td>{{x.con_movimentacao}}</td>
                  <td>{{x.usu_nome}}</td>
                  <td>{{x.tco_descricao}}</td>
                  <td>{{x.con_nrcontabancaria}}</td>
                  <td>{{x.con_banco}}</td>
                  <td>{{x.con_ativa}}</td>
                  <td>
					<button ng-click="editarConta(x)" type="button" class="btn btn-primary btn-xs">
					    <span class="glyphicon glyphicon-edit"></span>
				    </button>
				  </td>
				  <td>
				    <button ng-click="excluirConta(x)" type="button" class="btn btn-danger btn-xs">
					    <span class="glyphicon glyphicon-trash"></span>
				    </button>                  	                  	
				  </td>  
                </tr>
                </tbody>
              </table>
             </div>
         </div>
	   </div>
    </div>	     
</section> 